.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.item-details {
    display: flex;
}

.img-container {
    width: 90px;
    background-color: #e0e0e0;
    padding: 8px 0;
    margin-right: 12px;
}

.item-desc {
    display: flex;
    flex-direction: column;
}

.item-desc h5{
    text-transform: uppercase;
}

.item-desc span {
    color: #6e6e6e;
    font-size: 0.75rem;
    margin-top: 6px;
}

.mobile-price { 
    display: none; 
    color: #000 !important;
    font-size: 0.875rem !important;
    font-weight: 800;
}

.price { font-weight: bold; }

/* Media Queries */
@media only screen and (max-width: 468px) {
    .mobile-price { display: block;}

    .price { display: none;}

    .img-container {
        width: 80px;
    }
}
