.img {
    border-right: none; 
    padding-right: 0;
    width: 150px;
}

.details { border-left: none;  }

.quantity,
.subtotal { 
    width: 160px; 
    text-align: center;
}

.subtotal p:last-child{
   margin-top: 12px;
}