.details { display: flex; }

.details div:first-of-type { margin-right: 24px; }

.quantity,
.subtotal { 
    width: 160px; 
    text-align: center;
}

.subtotal p:last-child{
   margin-top: 12px;
}

/* Media Queries */
@media only screen and (max-width: 820px) {
    .quantity, .subtotal { display: none;}
    
    .details { justify-content: space-between;}
}

@media only screen and (max-width: 468px) {
    .details { flex-direction: column; }

    .details div:first-of-type { margin-right: 0; }
}
