.prebuilt {
    background-color: #181719;
    padding: 5rem 0;
}

.title {
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.sort {
    border: none;
    outline: none;
    color: #fff;
    padding: 0.5rem;
    background-color:  rgba(36,36,36,.829);
}

.items {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loading, .error {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin-top: 3em;
}

.error { color: #ff1e20}
