.prebuilt {
    background-color: #181719;
    padding: 80px 0;
}

.title {
    color: #fff;
    font-size: 2.6em;
    text-transform: uppercase;
    text-align: center;
}

.filter {
    color: #fff;
    margin: 56px 0;
}

.sort {
    border: none;
    outline: none;
    color: #fff;
    padding: 6px;
    background-color:  rgba(36,36,36,.829);
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Media Queries */
@media only screen and (max-width: 990px) {
    .filter {  margin-bottom: 0; }
}