.banner {
    background-image: url('../../assets/prebuilt-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 64px 0;
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PreBuilt Banner Image */
.banner-image { width: 50%; }

.banner-image img {
    width: 100%;
    height: auto;
}

/* PreBuilt Banner Textbox */
.banner-textbox {
    width: 40%;
}

.banner-textbox h3 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.banner-textbox p {
    font-weight: 300;
    margin-bottom: 16px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .banner-flex { flex-direction: column; }

    /* PreBuilt Banner Image */
    .banner-image {
        width: 100%;
    }

    /* PreBuilt Banner Textbox */
    .banner-textbox {
        width: 100%;
        margin-top: 42px;
    }
}
