/* Form Footer */
.form-footer {
    margin-top: 24px;
}

.form-footer span {
    color: #6e6e6e;
    padding-right: 6px;
    cursor: pointer;
}

.form-footer span a {
    margin-left: 6px;
}

.form-footer button {
    width: 180px;
}