/* Form Footer */
.form-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-footer span {
    color: #6e6e6e;
    padding-right: 6px;
    cursor: pointer;
}

.form-footer span a {
    margin-left: 6px;
}

.form-footer button {
    width: 180px;
}

/* Media Queries */
@media only screen and (max-width: 468px) {
    .form-footer { 
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .form-footer a,.form-footer button  { width: 100%; }

    .form-footer span { margin-top: 12px;}
}
