.shipping-box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0 12px;
    margin-top: 24px;
    font-size: 0.875rem;
}

.title {
    margin-top: 36px;
}

/* Edit form */
.edit {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.edit-info {
    display: flex;
    width: 100%;
    margin-right: 8px;
}

.edit-info span:first-child {
    color: #6e6e6e;
    width: 80px;
    flex-shrink: 0;
}

.edit:last-of-type {
    border-top: 1px solid #ccc;
}

.edit-btn:hover {
    color: #6e6e6e;
}

/* Shipping method */
.methods {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.methods:last-of-type {
    border-top: 1px solid #ccc;
}

.method-info {
    display: flex;
    align-items: center;
}

.method-info input {
    margin-right: 8px;
    cursor: pointer;
}

.price { font-weight: 800;}

/* Modal Successful */
.order-successful {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-successful span {
    font-size: 3.2rem;
    color: #00ce6f;
}

.order-successful p {
    margin-top: 12px;
    text-align: center;
    font-size: 0.875rem;
}

.order-successful p:first-of-type {
    font-size: 1.2rem;
    font-weight: 700;
    color: #00ce6f;
}

.order-successful button {
    width: 60%;
    margin-top: 24px;
    background-color: #0086f8;
}