.main-logo, .mobile-logo {
    height: auto;
}

.main-logo, .footer-logo {
    width: 160px;
}

.mobile-logo { 
    display: none; 
    width: 40px;
}

@media only screen and (max-width: 768px) {
    .main-logo { display: none; }

    .mobile-logo { display: block; }
}
