/* Form links */
.header { 
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 32px;
}

.header-links {
    display: flex;
    color: #6e6e6e;
    margin-bottom: 24px;
}

.header-links li {
    font-size: 0.875em;
}

.header-links li::after {
    content: '>';
    padding: 0 8px;
}

.header-links li:last-child::after {
    content: none;
}

.header-links li a:hover,
.header-links li a:active,
.header-links li a.active {
    color: #1f1f1f;
    font-weight: 700;
}

.logo {
    width: 200px;
} 

/* Media Queries */
@media only screen and (max-width: 1080px) {
    .header { 
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .header-links {
        margin-top: 24px;
    }
}