.main {
    display: flex;
    padding-top: 96px;
}

.main-content {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

.side-content {
    width: 48%;
}
.side-content::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    height: 100%;
    width: 100%;
    z-index: -1;
}