/* Main Navigation */
.main-nav {
    display: flex;
}

.main-nav li {
    list-style-type: none;
    margin: 0 1em;
}

.main-nav li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.main-nav li a.active,
.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 1px solid #fff;
    border-width: 2px;
    padding-bottom: 4px;
}

/* Footer Navigation */
.footer-nav li {
    margin-bottom: 8px;
}

.footer-nav li a:hover {
    cursor: pointer;
    color: #ff1e20;
}