.navigations {
    display: flex;
}

.navigations li {
    list-style-type: none;
    margin: 0 1em;
}

.navigations li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.navigations li a.active,
.navigations li a:hover, 
.navigations li a:active {
    border-bottom: 1px solid #fff;
    border-width: 2px;
    padding-bottom: 4px;
}