.btn {
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    text-transform: capitalize;
}

.primary { 
    background-color: #ff1e20; 
}

.primary:hover { background-color: #d11a1d; }

.secondary { background-color: #1f1f1f; }

.secondary:hover { background-color: #3b3b3b; }

.btnCart {
    color: #b9b9b9;
    background-color: #46464680;
}

.round { border-radius: 25px; }