.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c42325;
    height: 64px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo-container img{
    width: 180px;
    height: auto;
    cursor: pointer;
}

.icon-menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 768px) {
    .collapse-nav {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 64px;
        padding: 36px 0;
        background-color: #c42325;
        width: 100%;
    }

    .open { display: block; }

    .close { display: none; }

    .icon-menu { display: block; }
}
