/* Input */
.form-control {
    margin-top: 12px;
}

.form-control input {
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    padding-left: 12px;
    color: #333;
    font-size: 14px;
    outline: none;
}

.form-control input.error {
    color: #d8000c;
    border-color: #d8000c;
    background-color: #FFBABA;
}

.form-control input.error::placeholder {
    color: #d8000c;
}